fastapi
uvicorn[standard]

pydantic
pydantic-settings

google-cloud-bigquery
google-cloud-storage
google-cloud-pubsub

google-genai

numpy
scikit-learn
scipy
pandas
joblib

python-dotenv
requests


SQLAlchemy

opentelemetry-api
opentelemetry-sdk

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pydantic[email]